@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.app-wrap__outer {
  width: 100vw;
  height: 100vh;
}

.app-wrap__inner {
  display: flex;
  width: 100%;
  height: 94vh;
  overflow: hidden;
}

.side-menu__wrap {
  position: relative;
  width: 38%;
  height: 100%;
  border-right: 1px solid #000;
}

.page-wrap {
  position: relative;
  width: 62%;
  height: 100%;
}

@media screen and (max-width: 920px) {
  .side-menu__wrap {
    width: 45%;
  }

  .page-wrap {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .app-wrap__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .side-menu__wrap {
    width: 100%;
  }

  .page-wrap {
    width: 100%;
  }
}
html, body {
  font-size: 16px;
  font-family: "Amiri", serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Amiri", serif;
  margin: 6px 0px;
}

p {
  font-size: 1rem;
  color: #000;
  text-align: justify;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a, a * {
  text-decoration: none;
}

a:hover,
a:focus,
a:visited,
a:hover *,
a:focus *,
a:visited * {
  text-decoration: none;
}

.no-list-style {
  list-style: none;
}
.no-list-style ul, .no-list-style ol {
  list-style: none;
}

p img {
  width: 100%;
  height: auto;
}

.about__wrap {
  position: relative;
  height: 100%;
  width: 60%;
  margin-left: 20%;
}

.about__wrap-inner {
  padding: 40px 0px;
}

@media screen and (max-width: 768px) {
  .about__wrap {
    width: 100%;
    margin-left: 0;
  }

  .about__wrap-inner {
    padding: 20px;
  }
}
.header-placeholder {
  height: 6vh;
  min-height: 38px;
}

.header-wrap__outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 9;
}

.header-wrap__inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__lang-selector {
  background-color: transparent;
  border: 0;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.header__lang-selector.selected {
  color: green;
}

.map-nav {
  display: flex;
  padding: 0 12px;
}
.map-nav .map-nav__buttons {
  display: flex;
  align-items: center;
}
.map-nav .map-nav__buttons button {
  margin: 0 5px;
}
.map-nav .map-nav__buttons button:first-child {
  margin-left: 12px;
}

.map__wrap {
  display: flex;
  width: 100%;
  height: 100%;
}
.map__wrap .mapboxgl-control-container {
  display: none;
}

.print-map {
  width: 96%;
  height: 100%;
  margin: 0 0 0 14px;
  background: url("../images/print_map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top bottom;
}

.menu-slider__wrap {
  width: 100%;
}

.saint-listing__wrap {
  overflow-y: scroll;
  height: 100%;
}

.saint-details__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background-color: #fff;
  padding-top: 40px;
}

.saint-details__controls {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}
.saint-details__controls:hover {
  background-color: #ddd;
}

.saint-details__controls-icon {
  width: 40px;
  height: auto;
}

.saint-wrap {
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.saint-wrap:last-child {
  border-bottom: 0;
}
.saint-wrap:hover {
  background-color: #eee;
}
.saint-wrap.inactive:hover {
  background-color: #fff;
}
.saint-wrap.inactive {
  cursor: auto;
}
.saint-wrap .name {
  padding: 6px 0;
  margin: 0;
}
.saint-wrap .preview-text {
  padding-left: 20px;
}
.saint-wrap .body {
  display: none;
  padding-left: 20px;
}
.saint-wrap.selected .body {
  display: block;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body.ar .rtl {
  direction: rtl;
}

/*# sourceMappingURL=main.css.map */
